# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# Databases or temp files
*.db
*.sqlite3

# macOS and Windows clutter
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Jupyter & notebooks
.ipynb_checkpoints/

# Virtual environments
venv/
.envrc

# Streamlit secrets
.streamlit/secrets.toml
